/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/


body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background: #b2bec3;
    margin: 0;
  }

.vizitka {
    background: white;
    width: 550px;
    margin:auto;
    margin-top: 150px;
    border-radius: 10px;
    position: relative;
    padding: 30px;

  }

.odstavec1{
    margin-top: 30px;
}

.odstavec2 {
    margin-bottom: 30px;
}
img {
    border-radius: 50%;
    width: 150px;
    border: 3px solid white;
    position: absolute;
    right: -75px;
    top:-75px;
}
h1 {
    font-size: 36px;
    font-weight: bold; 
    color: #d63031;
}

p {
    font-size: 18px;
}

a {
    display:block;
    text-decoration: none;
    padding: 10px;
   
}

.tlacitko {
    color:white;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}

.twitter {
    background-color: #1da1f2;
    margin-bottom: 5px;
    
}

.facebook {
    background-color: #3b5998;
}

.twitter:hover {
    background-color: #0b7bc1;
}

.facebook:hover {
    background-color: #2b406e;
}